## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'. Dropped only EIN.
#  YOUR CODE GOES HERE
application_df.drop(['EIN'], axis=1, inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at NAME value counts for binning
#  YOUR CODE GOES HERE
application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `name_to_replace`
#  YOUR CODE GOES HERE
name_value_counts =application_df['NAME'].value_counts()
name_to_replace = list(name_value_counts[name_value_counts <5].index)

# Replace in dataframe
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_value_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(application_type_value_counts[application_type_value_counts < 500].index)
# Replace in dataframe
for apptype in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(apptype,"Other")
    
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts[classification_value_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classification to be replaced
# use the variable name `classification_types_to_replace`
#  YOUR CODE GOES HERE
classification_types_to_replace = list(classification_value_counts[classification_value_counts < 1800].index)
# Replace in dataframe
for cls in classification_types_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(['IS_SUCCESSFUL'], axis = 1).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
X_train.shape

(25724, 446)

In [15]:
y_train.shape

(25724,)

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = len(X_train[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add( tf.keras.layers.Dense(units = 7, activation = "relu", input_dim = input_features))

# Second hidden layer
nn.add( tf.keras.layers.Dense(units = 14, activation = "relu"))

# Third hidden layer
nn.add( tf.keras.layers.Dense(units = 21, activation = "relu"))

# Output layer
nn.add( tf.keras.layers.Dense(units = 1, activation = "sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 3129

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 21)                315

 dense_3 (Dense)             (None, 1)                 22

=================================================================
Total params: 3578 (13.98 KB)
Trainable params: 3578 (13.98 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5320 - accuracy: 0.7434
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4448 - accuracy: 0.7873
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4346 - accuracy: 0.7915
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4312 - accuracy: 0.7942
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4297 - accuracy: 0.7940
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4289 - accuracy: 0.7958
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4275 - accuracy: 0.7955
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4266 - accuracy: 0.7962
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4257 - accuracy: 0.7975
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4252 - accuracy: 0.7966
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4242 - accuracy: 0.7966
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4235 - accuracy: 0.7977
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4228 - accuracy: 0.7985
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4222 - accuracy: 0.7978
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4213 - accuracy: 0.7975
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4208 - accuracy: 0.7980
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4205 - accuracy: 0.7989
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4199 - accuracy: 0.7980
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4200 - accuracy: 0.7985
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4196 - accuracy: 0.7995
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4192 - accuracy: 0.8008
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4185 - accuracy: 0.7997
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4182 - accuracy: 0.8002
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4185 - accuracy: 0.8005
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4177 - accuracy: 0.7997
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4178 - accuracy: 0.8000
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4174 - accuracy: 0.8016
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4168 - accuracy: 0.8011
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4165 - accuracy: 0.8025
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4163 - accuracy: 0.8035
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4159 - accuracy: 0.8032
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4155 - accuracy: 0.8030
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4155 - accuracy: 0.8035
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4152 - accuracy: 0.8038
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4151 - accuracy: 0.8035
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4147 - accuracy: 0.8034
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4147 - accuracy: 0.8038
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4153 - accuracy: 0.8036
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4141 - accuracy: 0.8051
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4144 - accuracy: 0.8040
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4144 - accuracy: 0.8040
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4142 - accuracy: 0.8040
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4134 - accuracy: 0.8036
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4131 - accuracy: 0.8031
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4135 - accuracy: 0.8042
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4132 - accuracy: 0.8032
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4129 - accuracy: 0.8042
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4130 - accuracy: 0.8056
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4126 - accuracy: 0.8047
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4124 - accuracy: 0.8048
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4122 - accuracy: 0.8052
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4119 - accuracy: 0.8044
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4119 - accuracy: 0.8049
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4117 - accuracy: 0.8043
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4119 - accuracy: 0.8042
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4114 - accuracy: 0.8045
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4122 - accuracy: 0.8040
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4115 - accuracy: 0.8050
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4114 - accuracy: 0.8043
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4114 - accuracy: 0.8053
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4103 - accuracy: 0.8052
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4107 - accuracy: 0.8058
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4112 - accuracy: 0.8056
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4109 - accuracy: 0.8056
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4109 - accuracy: 0.8046
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4112 - accuracy: 0.8047
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4107 - accuracy: 0.8049
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8056
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4098 - accuracy: 0.8057
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4107 - accuracy: 0.8048
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4105 - accuracy: 0.8054
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4102 - accuracy: 0.8047
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8056
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8052
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4106 - accuracy: 0.8054
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8065
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8061
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4096 - accuracy: 0.8064
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4095 - accuracy: 0.8063
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4093 - accuracy: 0.8061
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8052
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4088 - accuracy: 0.8067
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8066
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4086 - accuracy: 0.8069
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4091 - accuracy: 0.8065
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8059
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4088 - accuracy: 0.8073
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4083 - accuracy: 0.8056
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4092 - accuracy: 0.8056
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4079 - accuracy: 0.8073
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4084 - accuracy: 0.8068
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4082 - accuracy: 0.8058
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4086 - accuracy: 0.8063
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4082 - accuracy: 0.8061
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4082 - accuracy: 0.8066
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4079 - accuracy: 0.8057
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4079 - accuracy: 0.8063
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4078 - accuracy: 0.8067
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4083 - accuracy: 0.8059
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4081 - accuracy: 0.8071

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4572 - accuracy: 0.7850 - 375ms/epoch - 1ms/step
Loss: 0.4571654498577118, Accuracy: 0.7849562764167786

In [20]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('Models/AlphabetSoupCharityOptimized.h5')

c:\Users\nemaa\anaconda3\envs\RUTDataViz2023\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(